.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Added CSS */
.hero-section {
  position: relative;
  height: 600px;
  background-image: url('/public/assets/Masthead.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Avoids the horizontal scrollbar caused by vw units */
  margin: 0;
  box-sizing: border-box;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.browse-button {
  padding: 10px 20px;
  background-color: #ff6b35; /* Orange */
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.browse-button:hover {
  background-color: #ff3b00;
}

.filter-sidebar {
  padding: 20px;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reset-icon {
  cursor: pointer;
}

.filter-section ul,
.filters ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
}
