.App {
  text-align: center;
}

/* My Added CSS */
.hero-section {
  position: relative;
  height: 600px;
  background-image: url('/src/assets/Masthead.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Avoids the horizontal scrollbar caused by vw units */
  margin: 0;
  box-sizing: border-box;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.browse-button {
  padding: 10px 20px;
  background-color: #ff6b35; /* Orange */
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.browse-button:hover {
  background-color: #ff3b00;
}

.filter-sidebar {
  padding: 20px;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reset-icon {
  cursor: pointer;
}

.filter-section ul,
.filters ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
}
